html {
    --s: 25px; /* control the size */
    --c1: #1d1d1d;
    --c2: #4e4f51;
    --c3: #3c3c3c;
    
    background:
        repeating-conic-gradient(from 30deg,#0000 0 120deg,var(--c3) 0 180deg) 
        calc(.5*var(--s)) calc(.5*var(--s)*0.577),
        repeating-conic-gradient(from 30deg,var(--c1) 0 60deg,var(--c2) 0 120deg,var(--c3) 0 180deg);
    background-size: var(--s) calc(var(--s)*0.577);
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

.logo {
    margin: 2rem;
}

.primary-header {
    align-items: center;
    justify-content: space-between;
}

.primary-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.primary-nav a {
    text-decoration: none;
}

.primary-nav a > [aria-hidden="true"] {
    font-weight: 700;
    margin-inline-end: 0.75em;
}

/* 10:21 https://www.youtube.com/watch?v=HbBMp6yUXO0 */

.intro {
    color: #d4af37;
    font-family: 'Brush Script MT', cursive;
}

